<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
    <!-- without input, default will be 'MMM d, yyyy' -->
    <!-- <div>Date: {{startDate | date}}</div> -->
    <!-- <div>Date: {{startDate | date: 'dd/MMM/yyyy'}}</div> -->

    <!-- without input, default will represent the exact number -->
    <!-- format should be [min integer places].[min-decimal-places]-[max-decimal-places] -> unspecified will be left as default -->

    <!-- 3.14 -> 3.150 -->
    <!-- <div>Price: {{price | number: '.3-5'}}</div> -->
    <!-- 3.14 -> 03.150 -->
    <!-- <div>Price: {{price | number: '2.3'}}</div> -->
    <!-- 3.14 -> 03.15 -->
    <!-- <div>Price: {{price | number: '2.0-5'}}</div> -->
    <!-- <div>Price: {{price | number: '2.3-5'}}</div> -->
    <!-- 3.14159265 -> 3.14159 -->
    <!-- <div>Price: {{roundPrice | number: '2.0-5'}}</div> -->

    <!-- default = usd -->
    <!-- <div>Price: {{price | currency: 'EUR'}}</div> -->

</div>

<!-- for debugging purposes, pipe to json to check if the object contains the values we expect -->
<!-- {{courses | json}} -->

<!-- {{ course | keyvalue }} -->

<!-- or can pipe object to a keyvalue pair and check if the value matches what we expect for each key -->
<!-- @for (pair of (courses[1] | keyvalue); track pair.key) {
    <div>
        {{ pair.key + ': ' + pair.value }}
    </div>
} -->

<div class="courses">
    <!-- in general should use track course.id rather than creating a function, but if there is a complex way for tracking then we can create a tracking function and reference it -->
    <!-- worse case is to track by index but this is extremely inefficient and forces angular to check every item... it only solves the compilation error that requires tracking function -->
    <!-- slice pipe to slice indices we want to include, [start, end): inclusive start, exclusive end -->
    @for (course of courses | slice:1:6; track trackCourse; let count = $count; let last = $last; let even = $even; let odd = $odd) {
        <course-card 
            (courseSelected)="onCourseSelected($event)" 
            [course]="course" 
            [count]="count"
            [index]="$index + 1"
            [class.is-first]="$first"
            [class.is-last]="last"
            [class.is-even]="even"
            [class.is-odd]="odd"
        />
    }
    @empty {
        <h1>No Courses Found!</h1>
    }

    <!-- alternatively, can use *ngFor (old syntax), but @for is a safer option in angular 17 -->
    <!-- <course-card *ngFor="let course of courses; index as i; first as isFirst; count as c; last as isLast; even as isEven; odd as isOdd" 
        (courseSelected)="onCourseSelected($event)"
        [course]="course"
        [count]="c"
        [index]="i + 1"
        [class.is-first]="isFirst"
        [class.is-last]="isLast"
        [class.is-even]="isEven"
        [class.is-odd]="isOdd"
    /> -->
</div>


